@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #d6efd8;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Halant", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.halant-light {
  font-family: "Halant", serif;
  font-weight: 300;
  font-style: normal;
}

.halant-regular {
  font-family: "Halant", serif;
  font-weight: 400;
  font-style: normal;
}

.halant-medium {
  font-family: "Halant", serif;
  font-weight: 500;
  font-style: normal;
}

.halant-semibold {
  font-family: "Halant", serif;
  font-weight: 600;
  font-style: normal;
}

.halant-bold {
  font-family: "Halant", serif;
  font-weight: 700;
  font-style: normal;
}

@keyframes moveClouds {
  from {
    top: calc(var(--rand) * 100%);
    transform: translateX(-10%);
  }
  to {
    transform: translateX(100vw);
  }
}
.cloud {
  --rand: 0.5;
  animation: fade-right 2s ease-out, moveClouds 60s infinite;
  background-color: #ffffff;
  --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
  mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
  position: absolute;
  top: calc(var(--rand) * 100%);
  width: 200px;
  height: 100px;
  border-radius: 40px;
  z-index: 0;
}

@keyframes sway {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

@keyframes bud-sway {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(4deg);
  }
}

@keyframes stem-sway {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(6deg);
  }
}

@keyframes bud-stem-sway {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.stem-left {
  --tw-border-opacity: 1;
  border-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-border-opacity)));
  border-width: 1px;
  width: 6%;
  position: absolute;
  right: 50%;
  rotate: 15deg;
  bottom: 0.25rem;
  animation: stem-sway 4s ease-in-out infinite;
  transform-origin: top right;
}

.stem-right {
  --tw-border-opacity: 1;
  border-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-border-opacity)));
  border-width: 1px;
  width: 6%;
  position: absolute;
  left: 50%;
  rotate: 345deg;
  bottom: 0.25rem;
  animation: stem-sway 4s ease-in-out infinite;
  transform-origin: top left;
}

.bud-stem-right {
  position: relative;
  border-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-border-opacity)));
  border-width: 1px;
  width: 6%;
  rotate: 345deg;
  bottom: 0.25rem;
  animation: bud-stem-sway 4s ease-in-out infinite;
  transform-origin: top left;
}

.bud-stem-left {
  background-color:black;
  --tw-border-opacity: 1;
  border-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-border-opacity)));
  border-width: 1px;
  width: 6%;
  rotate: 15deg;
  bottom: 0.25rem;
  animation: stem-sway 4s ease-in-out infinite;
  transform-origin: top right;
}

.leaf-right {
  background-color: #80af81;
  border-radius: 40px 10px;
  position: relative;
  animation: sway 4s ease-in-out infinite;
}

.leaf-right:hover {
  animation: paused;
}

.leaf-left {
  background-color: #80af81;
  border-radius: 10px 40px;
  position: relative;
  animation: sway 4s ease-in-out infinite;
}

.leaf-left:hover {
  animation: paused;
}

.budding-leaf-right {
  position: relative;
  background-color: #80af81;
  border-radius: 40px 10px;
  width: 10%;
  animation: bud-sway 4s ease-in-out infinite;
}

.budding-leaf-left {
  position: relative;
  background-color: #80af81;
  border-radius: 10px 40px;
  width: 10%;
  animation: bud-sway 4s ease-in-out infinite;
}

.right-budding-wrapper{
  position: absolute;
  left: 50%;
  top: 55;
}

.left-budding-wrapper{
  position: absolute;
  right: 50%;
  top: 55;
}

.branch-stem {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 25px solid #555;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.skills {
  overflow: hidden;
  padding: 60px 0;
  background: #80af81;
  white-space: nowrap;
  position: relative;
}

.skills:before,
.skills:after{
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.skills:before{
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #d6efd8);
}

.skills:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #d6efd8);
}

.skills:hover .skills li {
  animation-play-state: paused;
}

.skills li {
  display: inline-block;
  margin-right: 5%;
  animation: 35s slide infinite linear;
}

.skills li img{
  height: 50px;
  margin: 0 40px;
}

.skills li p{
  text-align: center;
}

.pixelArt {
  transition:transform 0.25s ease;
}


