@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

h1{
  font-family: 'Halant', serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.halant-light {
  font-family: "Halant", serif;
  font-weight: 300;
  font-style: normal;
}

.halant-regular {
  font-family: "Halant", serif;
  font-weight: 400;
  font-style: normal;
}

.halant-medium {
  font-family: "Halant", serif;
  font-weight: 500;
  font-style: normal;
}

.halant-semibold {
  font-family: "Halant", serif;
  font-weight: 600;
  font-style: normal;
}

.halant-bold {
  font-family: "Halant", serif;
  font-weight: 700;
  font-style: normal;
}

@keyframes moveClouds {
  from { transform: translateX(-10%); }
  to { transform: translateX(110%); }
}
.cloud {
  animation: fade-right 2s ease-out, moveClouds 300s linear infinite;
  background-color: #ffffff;
  position: absolute;
  top: 20%;
  width: 100px;
  height: 100px;
  border-radius: 40px;
  z-index: 0;
}

@keyframes sway {
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(3deg); }
}

@keyframes stem-sway{
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(6deg); }
}

.stem-left{
  --tw-border-opacity: 1;
    border-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-border-opacity)));
  border-width: 1px;
  width: 6%;
  position: absolute;
  right: 50%;
  rotate: 15deg;
  bottom: 0.25rem;
  animation: stem-sway 4s ease-in-out infinite;
  transform-origin: top right;
}


.stem-right{
  --tw-border-opacity: 1;
    border-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-border-opacity)));
  border-width: 1px;
  width: 6%;
  position: absolute;
  left: 50%;
  rotate: 345deg;
  bottom: 0.25rem;
  animation: stem-sway 4s ease-in-out infinite;
  transform-origin: top left;
}

.leaf-right{
  background-color: #80AF81;
  border-radius: 40px 10px;
  position: relative;
  animation: sway 4s ease-in-out infinite;
}

.leaf-right:hover{
  animation: paused;
}

.leaf-left{
  background-color: #80AF81;
  border-radius: 10px 40px;
  position: relative;
  animation: sway 4s ease-in-out infinite;
}

.leaf-left:hover{
  animation: paused;
}



.branch-stem{
  width: 0;
	height: 0;
  border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 25px solid #555;
}



